@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    color: #eaecef;
}

header{
    padding: 20px;
    background-color: #011627;
    height: 40px;
}

ul{
    padding: 0;
}
ul li{
    list-style-type: none;
    padding: 10px 0;
}
ul li  a{
    color: #eaecef;
    text-decoration: none;
}

.main{
    margin-left: 300px;
    color: #011627;
    margin-top: 20px;
    margin-right: 10px;
}